{%- liquid

  assign section_name = 'header'
  assign section_id = 'shopify-section-' | append: section.id

-%}

<div class="{{ section_name }}__main">
    <div class="{{ section_name }}__brand">
      <a class="{{ section_name }}__brand-link" href="/" target="_self" title="Very Polite Gift Shop">Logo</a>
    </div>
</div>

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header position--fixed z-index--200",
    "settings": [
      {
			  "content": "Settings",
			  "type": "header"
		  },
      {
			  "content": "Container",
			  "type": "header"
		  },
      {
        "label": "Container",
        "type": "select",
        "options": [
          { "label": "Static", "value": "container" },
          { "label": "Fluid", "value": "container-fluid" },
          { "label": "Full Width", "value": "full-width" }
        ],
        "default": "container",
        "id": "container"
      }
    ],
    "blocks": []
  }
{% endschema %}
