<h1>Nested Blocks</h1>

{% content_for 'blocks' %}

{% schema %}
{
  "name": "Nested Blocks",
  "tag": "section",
  "class": "section section--nested-blocks",
  "blocks": [
    { "type": "@theme" }
  ],
  "presets": [
    { "name": "Nested Blocks" }
  ],
  "enabled_on": {
    "templates": [ "*" ],
    "groups": [ "footer" ]
  }
}
{% endschema %}
